<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block meta_header %}{% endblock %}
<title>{% block title %}{% endblock %}Full Stack Python</title> {% block css %}{% endblock %}
<link rel="shortcut icon" href="/img/fsp-fav.png">
</head>
<body>
{% block banner %}{% endblock %}
<div class="cn">
{% include "nav.html" %}
{% block forkme %}{% endblock %}
{% block content %}{% endblock %}
<hr></div> 
{% block lower_banner %}{% endblock %}
{% include "footer.html" %}
{% block bottom_banner %}{% endblock %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46660488-4"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-46660488-4');</script>
{% block js %}{% endblock %}
</body>
</html>
