<h3>您想了解 Python 开发的哪些方面？</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/development-environments.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/databases.html" %}
        </div>
    </div>
</div>
