<h3>您需要设置应用程序样式或部署它吗？</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/cascading-style-sheets.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/static-content.html" %}
        </div>
    </div>
</div>
